# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# IDE
.vscode/
.idea/

# Logs
*.log

# Data files
*.sqlite3

# Audio files
data/audio/*.mp3

# Config files
backend/config*.py

# Node modules
node_modules/

# Build files
build/
dist/

# System Files
.DS_Store
Thumbs.db